<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
    <div class="container">
            <h1>Welcome To The Luxurious!</h1>
            <p>Have an Eye on The World's Luxuries</p>
            <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new Post</a></p>
    </div>
    </header>
    
    <div class="row text-center " style="display:flex; flex-wrap:wrap;">
      <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-12">
               <div class="thumbnail">
                  <a href="/campgrounds/<%= campground._id %>">  <img src = "<%=campground.image %>" ></a>
               </div>
               <div class="caption">
                      <%= campground.name %> 
               </div>
               <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                 
            </div>
      <% }) %>
    </div>



</div>
<% include ../partials/footer %>